body {
    font-family: arial, helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  .button-1 {
    height: 38px;
    background: #DD2C00;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    
  }
  /*Global Settings*/
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  /*Header*/
  
  header {
    background: #35324a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 100px;
    border-bottom: orange 3px solid;
  }
  
  header a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  header ul{
    margin: 0;
    padding: 0;
  }
  
  header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float: left;
  }
  
  
  header #branding h1{
    margin: 0;
  }
  
  header nav{
    float: right;
    margin-top: 10px;
  }
  
  header .highlight, header .current a{
    color: #DD2C00;
    font-weight: bold;
  }
  
  header a:hover{
    color: #cccccc;
    font-weight: bold;
  }
  
  /*Showcase*/
  
  #showcase {
    min-height: 400px;
    background: url('https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat 0 -400px;
    text-align: center;
    color: white;
  }
  
  #showcase h1{
    margin-top: 100px;
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  #showcase p{
    font-size: 1.5em;
  }
  
  #newsletter {
    padding: 1em;
    color: white;
    background: #35324a;
  }
  
  #newsletter h1{
    float: left;
    padding: 0;
  }
  
  #newsletter form{
    float: right;
    padding: 0;
    margin-top: 20px;
  }
  
  #newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
  }
  
  /*Boxes*/
  
  #boxes{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #boxes .box{
    display: grid;
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
  }
  
  #boxes .box img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    padding-left: 20px;
  }
  
  
  footer {
    background: #DD2C00;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
  }
  
  .multimedia .container #video{
    margin-left: auto;
    margin-right: auto;
    display: inline;
    text-align: center;
  }
  
  .multimedia .container p{
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
  }
  
  iframe{
    padding-left: 20%;
  }
  
  /*Mobiles media query*/
  
  @media(max-width: 758px){
    header #branding, header nav, header nav li, #newsletter h1, #newsletter form, #boxes .box{
      float: none;
      text-align: center;
      width: 100%;
    }
    
    #showcase h1{
      margin-top: 40px;
    }
    
    #newsletter button{
      display: block;
      width: 100%;
    }
    
    #newsletter form input[type="email"]{
      width: 100%;
      margin-bottom: 5px;
    }
    
    #boxes {
      display: flex;
      align-items: center;
    }
    
    
    
  }